@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme{
  --font-geom: "Geom", sans-serif;
  --color-Main: #4b72a6;
  --color-MainDark: #3B4956;
  --color-Background: #EBF5FF;
  --color-Secondary: #a68a56;
  --color-Font: #0d0d0d;
}
